* {
  margin: 0;
  padding: 0; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  /* background: #ffffff; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin-top: 100px;
}
ul li a, 
ul li a:visited {
  display: block;
  width: 300px;
  text-align: center;
  padding: 10px;
  background-color: #66ccff;
  border: 1px solid gray;
  color: gray;
  }

  ul li a:hover {
      opacity: 0.6;
  }
