/* задание 1 */
div {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid;
}

/* Задание 1 */
#div_1 {
    border-color: red;
    top: 100px;
    left: 100px;
}

#div_2 {
    border-color: blue;
    top: 350px;
    left: 350px;
}

#div_3 {
    border-color: green;
    top: 600px;
    left: 600px;
}

/* Задание 2 */
#div_4 {
    border-color: red;
    top: 100px;
    left: 100px;
}

#div_5 {
    border-color: blue;
    top: 100px;
    left: 350px;
}

#div_6 {
    border-color: green;
    top: 100px;
    left: 600px;
}

/* Задание 3 */
#div_7 {
    border-color: red;
    top: 100px;
    left: 100px;
}

#div_8 {
    border-color: blue;
    top: 250px;
    left: 250px;
}

#div_9 {
    border-color: green;
    top: 400px;
    left: 400px;
}

/* Задание 4 */
#div_10 {
    border-color: red;
    top: 100px;
    left: 100px;
    background: red;
}

#div_11 {
    border-color: blue;
    top: 250px;
    left: 250px;
    background: blue;
}

#div_12 {
    border-color: green;
    top: 400px;
    left: 400px;
    background: green;
}

/* Задание 5 */
#div_13 {
    border-color: red;
    top: 100px;
    left: 100px;
    background: red;
    z-index: 0;
}

#div_14 {
    border-color: blue;
    top: 250px;
    left: 250px;
    background: blue;
    z-index: 1;
}

#div_15 {
    border-color: green;
    top: 400px;
    left: 400px;
    background: green;
    z-index: 0;
}

/* Задание 6 */
#div_16 {
    border-color: red;
    top: 100px;
    left: 100px;
    background: red;
    z-index: 1;
}

#div_17 {
    border-color: blue;
    top: 250px;
    left: 250px;
    background: blue;
    z-index: 0;
}

#div_18 {
    border-color: green;
    top: 400px;
    left: 400px;
    background: green;
    z-index: 1;
}

/* Задание 7 */
#div_19 {
    border-color: red;
    top: 100px;
    left: 100px;
    background: red;
    z-index: 3;
}

#div_20 {
    border-color: blue;
    top: 250px;
    left: 250px;
    background: blue;
    z-index: 2;
}

#div_21 {
    border-color: green;
    top: 400px;
    left: 400px;
    background: green;
    z-index: 1;
}

/* задание 8 */
#wrapper {
    width: 500px;
    height: 500px;
    border: 1px dotted gray;
    margin: 100px auto;
    position: relative;
}

#inside {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 100px auto;
    position: absolute;
    top: 100px;
    left: 100px;
}

/* задание 9 */
#wrapper9 {
    width: 500px;
    height: 500px;
    border: 1px dotted gray;
    background: green;
    margin: 100px auto;
    position: relative;
}

#inside1 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 100px auto;
    position: absolute;
    top: 30px;
    left: 30px;
    background: white;
}

#inside2 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 100px auto;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
}

/* Задание 10 */

#wrapper10 {
    width: 500px;
    height: 500px;
    border: 1px dotted gray;
    background: none;
    margin: 100px auto;
    position: relative;
}

.lights10 {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 100px;
    height: 270px;
    border: 1px solid black;
}

.light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
}

.light_red {
    background: red;
    top: 15px;
}

.light_yellow {
    background: yellow;
    top: 100px;
}

.light_green {
    background: green;
    top: 185px;
}

/* Задание 11 */

.wrapper11 {
    width: 500px;
    height: 400px;
    border: 1px dotted gray;
    background: none;
    margin: 100px auto;
    position: relative;
    z-index: 1;
}

.face11 {
    position: absolute;
    top: 20px;
    left: calc(50% - 180px);
    width: 360px;
    height: 360px;
    border: none;
    border-radius: 50%;
    background: lightgreen;
    z-index: 2;
}

.inside11 {
    position: absolute;
}

.eye111 {
    top: 70px;
    left: 55px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 3;
}

.eye211 {
    top: 70px;
    left: 210px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 4;
}

.nose11 {
    top: 180px;
    left: 160px;
    width: 50px;
    height: 50px;
    border: none;
    background: white;
    z-index: 5;
}

.mouth11 {
    top: 250px;
    left: 100px;
    width: 170px;
    height: 20px;
    border: none;
    background: white;
    z-index: 6;
}


/* Задание 12 */

.wrapper12 {
    width: 500px;
    height: 400px;
    border: 1px dotted gray;
    background: none;
    margin: 100px auto;
    position: relative;
    z-index: 1;
}

.face12 {
    position: absolute;
    top: 20px;
    left: calc(50% - 180px);
    width: 360px;
    height: 360px;
    border: none;
    border-radius: 50%;
    background: lightgreen;
    z-index: 2;
}

.inside12 {
    position: absolute;
}

.eye112 {
    top: 70px;
    left: 55px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 30;
}

.eye212 {
    top: 70px;
    left: 210px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 40;
}

.nose12 {
    top: 180px;
    left: 160px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 50;
}

.mouth12 {
    top: 100px;
    left: 85px;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background: white;
    z-index: 12;
}

.mouth12_top {
    top: 0px;
    left: 45px;
    width: 280px;
    height: 280px;
    border: none;
    border-radius: 50%;
    background: lightgreen;
    z-index: 13;
}


/* Задание 13 */


.news13 {
    width: 470px;
    height: 100%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid violet;
    border-radius: 30px 30px 0 0;
}

.footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: violet;
    color: white;
    text-align: center;
}

/* Задание 14 */


.news14 {
    width: 470px;
    height: 100%;
    margin: 130px auto;
    padding: 30px;
    border: 1px solid  rgb(192, 204, 30);
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(192, 204, 30);
    color: white;
    text-align: center;
}

